@import "variable-overrides.less";

#header {
  background-color: @brand-info;
}
.header-top {
  color: #fff;
  background-color: #082060;
  .material-icons {
    color: #0055dd;
  }
  ul {
    text-align: center;
    &>li {
      line-height: 18px;
      display: inline-block;
      padding: 8px;
    }
  }
}

.header-title {
  h1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .material-icons {
    color: @brand-warning;
    font-size: 36px;
    margin-right: 10px;
    &:hover {
      color: @brand-danger;
    }
  }
}